@page "/"

<PageTitle>.NET Conf 2022 Hot Topics</PageTitle>

<h1>.NET Conf 2022 Hot Topics</h1>

<ol>
    <li>
        <strong>New blazor template</strong>
        <ul>
            <li>Vedere il progetto XE.Dottor.EmptyBlazorApp</li>
        </ul>
    </li>
    <li>
        <strong>Loading progress indicators (only Blazor WebAssembly)</strong>
        <ul>
            <li>Vedere file index.html e app.css</li>
        </ul>
    </li>
    <li>
        <strong>Virtualization enhancements</strong>
        <ul>
            <li><a href="/virtualized-table">Virtualized Table Example</a></li>
        </ul>
    </li>
    <li>
        <strong>Blazor everywhere (Blazor custom elements)</strong>
        <ul>
            <li>Vedere file Program.cs e index.html</li>
        </ul>
    </li>
    <li>
        <strong>Handle location changing events</strong>
        <ul>
            <li><a href="/nav-handler">RegisterLocationChangingHandler</a></li>
            <li><a href="/nav-lock">NavigationLock</a></li>
        </ul>
    </li>
    <li>
        <strong>Bind after/get/set modifiers</strong>
        <ul>
            <li>Vedere componente BindAfter.razor</li>
            <li>Vedere componente BindGetSet.razor</li>
        </ul>
    </li>
    <li>
        <strong>QuickGrid</strong>
        <ul>
            <li>
                <a href="https://aspnet.github.io/quickgridsamples/">
                    QuickGrid for Blazor
                </a>
            </li>
        </ul>
    </li>
</ol>
